<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class=" card-header">
    <div class="row card-title">
        <h4 class="col-10 pt-2">{{chat.users[0].name}}</h4>
        <div class="col-lg-1 hidden-sm text-right">
            <a (click)="delete()" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
        </div>
        <div class="col-lg-1 hidden-sm text-right">
            <a (click)="saveChat()" class="btn btn-outline-success"><i class="fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>