<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white shadow-sm py-3 px-5">
    <div class="container-fluid">
        <!-- Left Side Of Navbar -->
        <div>
            <a class="navbar-brand" routerLink="/">ChatLog</a>
        </div>

        <!-- Right Side Of Navbar -->
        <div class="row row-cols-auto">
            <div class="col" *ngIf="!this._AuthService.isUserLoggedIn()">
                <button type="button" routerLink="./login" class="btn btn-outline-light">Login</button>
            </div>
            <div class="col" *ngIf="!this._AuthService.isUserLoggedIn()">
                <button type="button" routerLink="./register" class="btn btn-warning">Register</button>
            </div>
            <div class="col" *ngIf="this._AuthService.isUserLoggedIn()">
                <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
            </div>
            <!-- .alert-primary, .alert-secondary, .alert-success, .alert-danger, .alert-warning, .alert-info, .alert-light, .alert-dark -->


        </div>
    </div>
</nav>