<div>

    <div class="container py-2 h-50">
        <div class="row d-flex justify-content-center text-dark align-items-center h-50">
            <div class="col col-xl-5">
                <div class="card card-border-radius">
                    <div class="row">

                        <div class="col-md-8 col-lg-10 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-4 text-black">
                                <div *ngIf="!_authService.isUserLoggedIn()">
                                    <p>
                                        login or register to use CHATLOG
                                    </p>
                                    <button type="button" routerLink="./login" aria-pressed="true" class="btn btn-dark">Login</button>

                                    <button type="button" routerLink="./register" aria-pressed="true" class="btn btn-warning mx-2">Register</button>
                                </div>
                                <div>
                                    <p>
                                        Hi {{user.name}}
                                    </p>
                                    <button type="button" routerLink="./main" aria-pressed="true" class="btn btn-dark">Chat</button>

                                    <button type="button" (click)="logout()" aria-pressed="true" class="btn btn-warning mx-2">Logout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>