<div *ngIf="chat" class="card">

    <app-chat-header [chat]="chat"></app-chat-header>

    <div #chatHistory class="chat-history card-body overflow-auto">
        <ul class="m-b-0">
            <li *ngFor="let message of MessageList" class="clearfix">
                <div *ngIf="message.user !=my_id">
                    <div class="message other-message float-right shadow-sm"> {{message.message}}</div>
                    <div class="message-data text-right ">
                        <span class="message-data-time float-right">{{message.updatedAt|date}}</span>
                    </div>
                </div>
                <div *ngIf="message.user ==my_id">
                    <div class="message my-message shadow-sm">{{message.message}}</div>
                    <div class="message-data">
                        <span class="message-data-time">{{message.updatedAt |date: 'd/M, h:mm a' }}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat-message clearfix">
        <div class="input-group mb-3">
            <span class="input-group-text" (click)="addMessage()" id="basic-addon1"><i class="fa fa-send"></i></span>
            <input (keyup.enter)="addMessage()" type="text" [(ngModel)]="messageS" class="form-control" placeholder="Enter text here..." aria-label="text">
        </div>

    </div>
</div>