<div class="card">

    <div class=" card-header overflow-auto">
        <div class="row card-title">
            <h4 class="col-10 pt-2">{{chat.users[0].name}}</h4>
            <div class="col-lg-2 hidden-sm text-right">
                <a (click)="delete()" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>

    <div class="chat-history card-body overflow-auto">
        <ul class="m-b-0">
            <li *ngFor="let message of MessageList" class="clearfix">
                <div *ngIf="message.user !=my_id">
                    <div class="message other-message float-right shadow-sm"> {{message.message}}</div>
                    <div class="message-data text-right ">
                        <span class="message-data-time float-right">{{message.updatedAt|date}}</span>
                    </div>
                </div>
                <div *ngIf="message.user ==my_id">
                    <div class="message my-message shadow-sm">{{message.message}}</div>
                    <div class="message-data">
                        <span class="message-data-time">{{message.updatedAt|date}}</span>
                    </div>
                </div>
            </li>
            <!-- <li class="clearfix">
                <div class="message-data text-right ">
                    <span class="message-data-time">10:10 AM, Today</span>

                </div>
                <div class="message other-message float-right shadow-sm"> Hi Aiden, how are you? How is the project coming along? </div>
            </li>
            <li class="clearfix">
                <div class="message-data">
                    <span class="message-data-time">10:12 AM, Today</span>
                </div>
                <div class="message my-message shadow-sm">Are we meeting today?</div>
            </li> -->

        </ul>
    </div>
    <div class="chat-message clearfix">
        <div class="input-group mb-3">
            <span class="input-group-text" (click)="addMessage()" id="basic-addon1"><i class="fa fa-send"></i></span>
            <input type="text" [(ngModel)]="messageS" class="form-control" placeholder="Enter text here..." aria-label="text">
        </div>

    </div>
</div>