<div class="card">

    <div class=" card-header">
        <div class="row card-title">
            <h6 class="col-10 pt-2">{{chat.users[0].name}}</h6>
            <div class="col-lg-2 hidden-sm text-right">
                <a href="javascript:void(0);" (click)="delete()" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>

    <div class="chat-history">
        <ul class="m-b-0">
            <li class="clearfix">
                <div class="message-data text-right ">
                    <span class="message-data-time">10:10 AM, Today</span>

                </div>
                <div class="message other-message float-right shadow-sm"> Hi Aiden, how are you? How is the project coming along? </div>
            </li>
            <li class="clearfix">
                <div class="message-data">
                    <span class="message-data-time">10:12 AM, Today</span>
                </div>
                <div class="message my-message shadow-sm">Are we meeting today?</div>
            </li>
            <li class="clearfix">
                <div class="message-data">
                    <span class="message-data-time">10:15 AM, Today</span>
                </div>
                <div class="message my-message shadow-sm">Project has been already finished and I have results to show you.</div>
            </li>
        </ul>
    </div>
    <div class="chat-message clearfix">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-send"></i></span>
            <input type="text" class="form-control" placeholder="Enter text here..." aria-label="text">
        </div>

    </div>
</div>